.box {
  background-color: lightgrey;
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 5px solid black;
  margin: 50px;
}

.box1 {
  background-color: yellow;
  width: 300px;
  height: 50px;
  padding: 20px;
  border: 10px solid rgb(193, 211, 31);
  margin: 100px;
  border-radius: 15px;
}

.box2 {
  background-color: crimson;
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 15px solid rgb(24, 154, 17);
  margin: 150px;
  border-radius: 10px;
}

.boton1 {
  background-color: yellow;
  border-radius: 5px;
}

.boton2 {
  background-color: deepskyblue;
  border-radius: 8px;
}

.boton3 {
  background-color: greenyellow;
  border-radius: 10px;
}

header {
  background-color: #1e15d0;
  color: #333;
  text-align: center;
  padding: 20px;
}

.principal {
  display: flex;
  justify-content: center;
  height: 300px;
  font-size: 200%;
}

.piedepagina {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100px;
  font-size: 300%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #17d32d;
  text-decoration: none;
  padding: 5px;
}
nav a:hover {
  color: #cade16;
}

@media (max-width: 767px) {
  header {
    background-color: #333;
  }
}

@media (max-width: 767px) {
  nav {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  header {
    width: 1200px;
  }
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: rgb(239, 11, 11);
}
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.brand {
  display: flex;
  align-items: center;
}
li > a {
  padding: 8px 24px;
}
li {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
.nav-links {
  display: flex;
  align-items: center;
}
.button-menu-toggle {
  display: none;
}

.botonprincipal {
  background-color: rgb(233, 15, 207);
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }
  .nav-links {
    display: none;
  }
  .button-menu-toggle {
    display: block;
    background-color: rgb(214, 21, 21);
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }
  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgb(242, 245, 245);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;
  }
}

.imagenes {
  display: flex;
  justify-content: center;
}

.imagenes img {
  flex: 1;
  max-width: 600px;
  height: 600px;
  border-radius: 8px;
  margin-left: 4px;
}

.greeting {
  text-align: center;
}
